.flex-grid {
  display: flex;
}
.flex-grid .row {
  display: block;
}
.flex-grid .row .col {
  flex: 1;
}

* {
  box-sizing: border-box;
}
.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  padding: 20px;
}

header {
  padding: 15px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 2.0rem;
}

.paper {
  width: 595px;
  margin: 20px auto;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

@media (max-width: 625px) {
  .flex-grid {
    display: block;
  }
  .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .paper {
    width: 95%;
  }
}