.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.flex-grid .col {
  flex: 1;
}

.flex-grid .col-2 {
  flex: 2;
}

.multiline {
  width: 100% !important;
  display: block;
}

* {
  box-sizing: border-box;
}
.flex-grid {
  margin: 0 0 20px 0;
}
.col, .col-2 {
  padding: 0 20px;
}

header {
  padding: 15px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 2.0rem;
}

.logo {
  width: 75px;
  height: 75px;
  vertical-align: middle;
}

.paper {
  width: 95%;
  margin: 20px auto;
  padding-bottom: 35px;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

@media (max-width: 625px) {
  .flex-grid {
    display: block;
  }
  .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .paper {
    width: 95%;
  }
}